<h1>BookLib</h1>
<p> The book lib is a website for borrowing, and keeping books records</p>
<p> <%= link_to "Signup", signup_path %>
<p><%= image_tag('lib.jpg', width: 1300, height: 350, alt: "the library") %></p>
