<div id="cover">
    <div class="page-centered">
        <h1>BookLib</h1>
        <p> BookLib is an online Library.<br>
        Signup to start enjoying our services or just search through to see our stocks</p>
        <p> <%= link_to_unless(logged_in, "Signup", { controller: "users", action: "new"},
                               {class: "button success large"} )%>
</div>
</div>
<hr>
