<h1>Support</h1>

<hr>
<div class="row">
<div class="medium-6 columns">
        <div class="circle">
            <p><u>Post your concern here</u></p>
            <p> Our users are the reason for our existance so feel free to 
            make enquires concerning the app.
    </div>
    </div>
<div class="medium-6 columns">
        <div class="circle">
            <p><u> Share your suggestions</u></p>
            <p> Do you have anything in mind you wonna see in the next release?
            Share with and maybe or maybe not it will be added.</p>
    </div>
    </div>
    </div>
    <br>
    <br>
