<% @user ||= current_user %>
<div class="stats">
    <a href="<%= book_path(@book) %>">
        <strong id="book" class="stat">
            <%= @user.books.count %>
        </strong>
        books
    </a>
</strong>
</div>
