<h1> Unabbbooooo</h1>
<table>
    <thead>
        <tr>
            <th> id</th>
            <th> Title </th>
            <th> Category </th>
            <th> Author</th>
            <th> Quantity</th>
            <th> Publisher</th>
        </tr>
    </thead>
    <tbody>
        <%= render @books %>
    </tbody>
</table>

