.background {
    background: url('lines.png');
}
.top-bar{
    li {
        display: inline
    }
}
.head{
    background-color:darkgray;
}

flash{
    color: black;

}
#flash.danger {
    background-color:orange;

}
#flash.success {
    background-color:darkgreen; 

}
#flash.info {
    background-color:skyblue;
}

#error_messages {
    color: black;
    ul {
        color:maroon;
        margin: 0 0 30px 0;

    }

}
.footer {
    
    background-color: gray;
    color:black;
    height:40px;
    bottom:0;
    width:100%;
    margin:0;
    margin:auto;
    padding:0px;
    clear:both;
    position:relative;


}
h1 {
    text-align: center;
}
