li {
    display: inline
}
flash{
        color: black;

}
#flash.danger {
        background-color:maroon;

}
#flash.success {
        background-color:darkgreen; 

}
#flash.info {
     background-color:skyblue;
}
