li {
    display: inline
}
messages{
        color: black;

}
#messages.danger {
        background-color: green;

}
#messages.success {
        background-color:red; 

}
#messages.info {
     background-color:blue;
}
