// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  @import 'compass';
  @import 'mixins';

#cover{
    background-image: image-url('book1.png');
    background-attachment: fixed;
    position: relative;
    height: 600px;
    @include background-size(cover);
    .page-centered {
        color: white;
        @include center-text(-50%, -50%);

    }
    p{
        font-size: 20px;
    }
}
#info {
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
hr {
    height:6px;
}
.circle {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    font-family:courier new;
    font-size: 16px;
    color: green;
    vertical-align: middle;
    display:table-cell;
    text-align: center;
    padding-right: 10px;
    background: black;
    margin-left: 10px;
    border-spacing:10px;
}
.about{
    
}
