<div class="footer">
<footer align="center">
    <br>
    <p align="center">&copy; Booklib <%= Date.today.year %> &nbsp; &nbsp;
    &nbsp;  Designed and maintained by &nbsp; @cess
    </p>
    </footer>
    </div>
