<div class="footer">
<footer align="center">
    <p align="center">&copy; booklib 2016
    &nbsp   &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp designed and maintained by             | cessmbuguar@gmail.com |
    </p>
    </footer>
    </div>
